@using JoinGo.Models.Author;
@{
    ViewBag.Title = "活動管理";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}


@Html.AntiForgeryToken()


<section class="containerArea" id="content">
    <article class="main-content">
        <div class="container">
            <a accesskey="C" href="#start-C" id="start-C" role="button" class="text-start" title="中間內容呈現區">:::</a>
            <div class="row d-flex justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav aria-label="breadCrumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@(AuthorModel.Current.Role == "User" ? "/User/Index" : AuthorModel.Current.Role == "Admin" ? "/User/Index"  : "/Home/Index" )">首頁</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">活動管理</li>
                        </ol>
                    </nav>
                    <div class="container card">
                        <div class="row">
                            <div class="col-12">
                                <div class="titleText">
                                    <h1>活動管理</h1>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 mb-3">
                                            <div class="d-flex flex-wrap align-items-center gap-3">
                                                <label for="Search"><strong>關鍵字搜尋 : </strong></label>
                                                <input type="text" id="Search" class="form-control w-50" placeholder="可查詢標題" aria-label="可查詢標題" />
                                                <button type="submit" class="btn btn-main w-auto" id="searchButton" aria-label="查詢">查詢</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>



                        <div class="row justify-content-center mb-1">
                            <div class="col-12">
                                <a href="@Url.Action("CreateActivity", "Activity",new{page = TempData["page"]})" class="btn btn-main w-auto text-left" aria-label="新增">
                                    <i class="fa fa-plus me-1" aria-hidden="true"></i>新增
                                </a>
                                <!-- 列表 -->
                                <div class="table-responsive-xl table-hover first-table text-center my-4 table-container" id="ListArea">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>






<!--新增 Modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalTitle" data-bs-focus="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header titleText">
                    <h2 class="modal-title fs-3 ModalLabel">新增</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body CreateDiv">
                </div>
            </div>
        </div>
    </div>
</div>






<!--查看 Modal -->
<div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModalTitle" data-bs-focus="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header titleText">
                    <h2 class="modal-title fs-3 ModalLabel">查看</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body DetailsDiv">
                </div>
            </div>
        </div>
    </div>
</div>




<!--編輯 Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalTitle" data-bs-focus="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header titleText">
                    <h2 class="modal-title fs-3 ModalLabel">編輯</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body EditDiv">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/ckeditor5/ckeditor5.js"></script>
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/main.js"></script>
    <script>
        //token
        function getAntiForgeryToken() {
            return $('input[name="__RequestVerificationToken"]').val();
        }

        $('#CreateModal , #DetailsModal, #EditModal').on('hidden.bs.modal', function () {
            $(this).find('.CreateDiv , .DetailsDiv, .EditDiv').html("");
        });



        //Partial View (列表)
        function GetData(page) {
            var Search = $("#Search").val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("_ParActivityList", "Activity")",
                    data: {
                    Search: Search,
                    page: page
                },
                success: function (response) {
                    window.location.hash = page;
                    $("#ListArea").html(response);
                    $('#ListArea .pagination li a').each(function (i, item) {
                        var hyperLinkUrl = $(item).attr('href');
                        if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                            var pageNumber = $(item).attr('href');
                            var page = $(item).attr('href').replace('/Activity/ActivityList?page=', '');
                            pageNumber = pageNumber.split("&")[0]
                            $(item).attr('href', '#');
                            $(item).attr('href', pageNumber).click(function (event) {
                                event.preventDefault();
                                $(event.target).attr('href');
                                GetData(page);
                            });
                        }
                    });
                }
            });
        }




        //查詢按鈕
        $("#searchButton").on("click", function () {
            GetData(1);
        });






        //活動管理連結(Create)------------------------------------------------------------------------------------------------
        function Create() {
            $.get('@Url.Action("CreateActivity", "Activity")', function (data) {
                $('.CreateDiv').html(data);
                $('.ModalLabel').text("新增");
                $('#CreateModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                }).modal('show');
            })
        }





        function Details(ActID) {
            $.get('@Url.Action("DetailsActivity","Activity")', { "ActID": ActID }, function (data) {
                $('.DetailsDiv').html(data);
                $('.ModalLabel').text("查看");
                $('#DetailsModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                }).modal('show');
            })
        }



        $(function () {
            var page = $("#page").val();
            if (!page) {
                page = 1;
            }
            GetData(page)
        });




    </script>
}
