@model JoinGo.Models.ViewModels.ActivityVM
@{
    ViewBag.Title = "新增活動";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<section class="containerArea" id="content">
    <article class="main-content">
        <div class="container">
            <a accesskey="C" href="#start-C" id="start-C" role="button" class="text-start" title="中間內容呈現區">:::</a>
            <div class="row d-flex justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @using (Html.BeginForm("CreateActivity", "Activity", FormMethod.Post, new { @enctype = "multipart/form-data", id = "Form", @data_toggle = "validator", style = "width:100%;" }))
                    {
                        @Html.AntiForgeryToken()
                        <nav aria-label="breadCrumbs">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "User")">首頁</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("ActivityList", "Activity")">活動管理</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">新增活動</li>
                            </ol>
                        </nav>
                        <div class="container card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="titleText d-flex align-items-center">
                                        <h1>新增活動</h1>
                                        <p class="text-left mx-2 mb-0" style="color: #db1226; font-size: .8rem;">* 符號表示必填欄位</p>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row justify-content-center mb-1">
                                <div class="col-12">
                                 
                                    <div class="table-responsive-xl my-4 table-container" id="ListArea">


                                        <div class="row">
                                            <!-- 活動類型 -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 mb-3">
                                                <label for="Category" class="Category">
                                                    <h3><span class="text-danger mx-2">*</span>活動類型</h3>
                                                </label>
                                                @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.ActivityCategorySelect, "請選擇活動類型", new { @class = "form-select", aria_label = "請選擇活動類型" })
                                            </div>

                                            <!-- 活動標題 -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                                                <label for="Name" class="input-Name">
                                                    <h3><span class="text-danger mx-2">*</span>活動名稱</h3>
                                                </label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="text" class="form-control form-control-sm" id="Name" name="Name" maxlength="200" placeholder="請填寫活動名稱" aria-label="請填寫活動名稱">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- 地址 -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                                <label for="Location" class="input-title">
                                                    <h3><span class="text-danger mx-2">*</span>活動地點</h3>
                                                </label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="text" class="form-control" id="Location" name="Location" maxlength="300" placeholder="活動地點" aria-label="活動地點">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="StartDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動開始時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="date" class="form-control" id="StartDate" name="StartDate" placeholder="請選擇開始時間">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="EndDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動結束時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="date" class="form-control" id="EndDate" name="EndDate" placeholder="請選擇結束時間">
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="ApplyStartDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動報名開始時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="date" class="form-control" id="ApplyStartDate" name="ApplyStartDate" placeholder="請選擇報名開始時間">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="ApplyEndDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動報名結束時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    <input type="date" class="form-control" id="ApplyEndDate" name="ApplyEndDate" placeholder="請選擇報名結束時間">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <label for="Contact" class="input-title"><h3>聯絡窗口</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                <input type="text" class="form-control" id="Contact" name="Contact" maxlength="30" placeholder="請填寫聯絡窗口" aria-label="請填寫聯絡窗口">
                                            </div>
                                        </div>



                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <label for="ContactPhone" class="input-title"><h3>窗口連絡電話</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                <input type="text" class="form-control" id="ContactPhone" name="ContactPhone" maxlength="30" placeholder="請填寫窗口連絡電話" aria-label="請填寫窗口連絡電話">
                                                <small class="form-text text-muted">輸入電話格式範例如：02-22345678</small>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label for="PicFile" class="input-title"><h3>封面照片</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                <input type="file" id="PicFile" name="PicFile" class="form-control" accept="image/*">
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label for="Description" class="input-title"><h3>活動詳細說明</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                <div class="editor-container__editor"><div class="editor1"></div></div>
                                                <input type="hidden" id="CKContent1" name="Content1" />
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        
                                   <div class="text-center submit-btn">
                                             <button type="button" class="btn btn-main w-auto" onclick="CreateFun();" aria-label="儲存" id="submitBtn">儲存</button>
                                                <button type="button" class="btn btn-secondary backList" aria-label="返回" onclick="window.history.back()">返回</button>
                                     </div>
                                  </div>
                             </div>
                        }
                    </div>
        </article>
    </section>
}


@section Scripts {
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/ckeditor5/ckeditor5.js"></script>
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/main.js"></script>
    <script>
        //token
        function getAntiForgeryToken() {
            return $('input[name="__RequestVerificationToken"]').val();
        }


        $(document).ready(function () {
            initializeCKEditor('editor1', '');
            /*initializeCKEditor('editor2', '');*/
            //initializeCKEditor('editor3', '');
            //initializeCKEditor('editor4', '');

            //檢查學校圖片上傳為圖片檔
            $('#PicFile').on('change', function () {
                const file = this.files[0];
                const allowedTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/webp'];
                if (file) {
                    if (allowedTypes.indexOf(file.type) === -1) {
                        Swal.fire({
                            title: "請上傳有效的圖片檔案 (JPEG, PNG, GIF, webp)。",
                            confirmButtonText: "確定",
                            didOpen: () => {
                                $(this).val(''); // 清除檔案選擇
                            }
                        });
                        return;
                    }
                }
            });

            //檢查檔案大小(一個檔案5MB限制)
            $('input[type="file"]').on('change', function () {
                const files = this.files;
                const maxSize = 5 * 1024 * 1024;
                let errorMessages = [];
                let hasError = false;
                if (files) {
                    for (let i = 0; i < files.length; i++) {
                        if (files[i].size > maxSize) {
                            errorMessages.push("檔案: " + files[i].name + "，大小超過限制 (5MB)。");
                            hasError = true;
                        }
                    }
                    if (hasError) {
                        Swal.fire({
                            title: "檔案大小超過限制",
                            html: errorMessages.join("<br>"),
                            confirmButtonText: "確定"
                        });
                        $(this).val('');
                    }

                }
            });

        });


         //活動(新增動作送出)
        function CreateFun() {

            //塞值(班級屬性)
            const selected = $('input[name="ClassPropCheckbox"]:checked')
                .map(function () {
                    return this.value;
                }).get().join(',');

            $('#ClassProp').val(selected);


            var Category = $('#Category').val();
            var Name = $('#Name').val();
            var Location = $('#Location').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var ApplyStartDate = $('#ApplyStartDate').val();
            var ApplyEndDate = $('#ApplyEndDate').val();
            var Contact = $('#Contact').val();
            var ContactPhone = $('#ContactPhone').val();
            var PicFile = $('#PicFile').val();
           

            
            const fields = [
                { selector: '#Category', value: Category, message: '請選擇活動類型' },
                { selector: '#Name', value: Name, message: '請填寫活動名稱' },
                { selector: '#Location', value: Location, message: '請填寫活動地點' },
                { selector: '#StartDate', value: StartDate, message: '請填寫活動開始時間' },
                { selector: '#EndDate', value: EndDate, message: '請填寫活動結束時間' },
                { selector: '#ApplyStartDate', value: ApplyStartDate, message: '請填寫報名開始時間' },
                { selector: '#ApplyEndDate', value: ApplyEndDate, message: '請填寫報名結束時間' },
                { selector: '#Contact', value: Contact, message: '請填寫聯絡窗口' },
                { selector: '#ContactPhone', value: ContactPhone, message: '請填寫窗口連絡電話' },
                { selector: '#PicFile', value: PicFile, message: '請上傳封面照片' }
            ];

            for (let field of fields) {
                if (!field.value) {
                    Swal.fire({
                        title: field.message,
                        confirmButtonText: '確定'
                    }).then(() => {
                        const $el = $(field.selector);
                        $('html, body').stop().animate({
                            scrollTop: $el.offset().top - 100
                        }, 300, () => {
                            $el.focus();
                        });
                    });
                    return;
                }
            }

            $('#submitBtn').prop('disabled', true).addClass('btn-secondary');
            // 顯示處理中提示
            Swal.fire({
                title: '處理中，請稍候...',
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading(); // 顯示 loading 動畫
                }
            });


            var formData = new FormData();
            formData.append('Category', Category);
            formData.append('Name', Name);
            formData.append('Location', Location);
            formData.append('StartDate', StartDate);
            formData.append('EndDate', EndDate);
            formData.append('ApplyStartDate', ApplyStartDate);
            formData.append('ApplyEndDate', ApplyEndDate);
            formData.append('Contact', Contact);
            formData.append('ContactPhone', ContactPhone);
           
           



            //學校圖片上傳
            const fileInput = $("input[name='PicFile']")[0];
            const file = fileInput?.files?.[0];

            if (file) {
                formData.append("PicFile", file);
            }


            //ckeditor
            const editor1 = window.ckeditorInstances["editor1"];
          
            if (editor1) {
                const editorData1 = editor1.getData();
                $('#CKContent1').val(editorData1);
                formData.append('Description', editorData1);
            }

           

            // 防止跨站請求偽造攻擊（CSRF）
            formData.append('__RequestVerificationToken', getAntiForgeryToken());

            $.ajax({
                type: 'POST',
                url: "@Url.Action("CreateActivity","Activity")",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    Swal.close();
                    $('#submitBtn').prop('disabled', false).removeClass('btn-secondary');
                    if (response === "新增成功" || response.success === true) {
                        Swal.fire({
                            icon: 'success',
                            title: '新增成功',
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                               window.location.href = "@Url.Action("ActivityList","Activity")";
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    Swal.close();
                    $('#submitBtn').prop('disabled', false).removeClass('btn-secondary');
                    console.log("錯誤狀態:", status);
                    console.log("錯誤訊息:", error);
                    console.log("伺服器回應:", xhr.responseText);
                    Swal.fire("發生錯誤：" + xhr.responseText);
                }
            });
        }
     
    </script>
}
