@model JoinGo.Models.ViewModels.ActivityVM
@{
    ViewBag.Title = "編輯活動";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}



<section class="containerArea" id="content">
    <article class="main-content">
        <div class="container">
            <a accesskey="C" href="#start-C" id="start-C" role="button" class="text-start" title="中間內容呈現區">:::</a>
            <div class="row d-flex justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @using (Html.BeginForm("EditActivity", "Activity", FormMethod.Post, new { @enctype = "multipart/form-data", id = "Form", @data_toggle = "validator", style = "width:100%;" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ActID)
                        <nav aria-label="breadCrumbs">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "User")">首頁</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("ActivityList", "Activity")">活動管理</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">編輯活動</li>
                            </ol>
                        </nav>
                        <div class="container card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="titleText d-flex align-items-center">
                                        <h1>編輯活動</h1>
                                        <p class="text-left mx-2 mb-0" style="color: #db1226; font-size: .8rem;">* 符號表示必填欄位</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row justify-content-center mb-1">
                                <div class="col-12">

                                    <div class="table-responsive-xl my-4 table-container" id="ListArea">


                                        <div class="row">

                                            <!-- 活動類型 -->
                                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-3 mb-3">
                                                <label for="Category" class="Category">
                                                    <h3><span class="text-danger mx-2">*</span>活動類型</h3>
                                                </label>
                                                @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.ActivityCategorySelect, "請選擇活動類型", new
                                                {
                                                    @class = "form-select",
                                                    @id = "MainCategory",@*//確保 ID 可被 JS 抓*@aria_label = "請選擇活動類型"
                                                })
                                            </div>
                                            <div class="row">
                                                <!-- 活動子分類 -->
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                                    <label for="SubCategory" class="input-title">
                                                        <span class="text-danger mx-2">*</span>活動子類別：
                                                    </label>
                                                    <div class="d-xl-flex mb-3">
                                                        <select id="SubCategory" name="Category" class="form-control custom-select m-1">
                                                            <option value="">請先選擇活動子類別</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- 活動標題 -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                                                <label for="Name" class="input-Name">
                                                    <h3><span class="text-danger mx-2">*</span>活動名稱</h3>
                                                </label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-sm", maxlength = "200", placeholder = "請填寫活動名稱", aria_label = "請填寫活動名稱" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- 地址 -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                                <label for="Location" class="input-title">
                                                    <h3><span class="text-danger mx-2">*</span>活動地點</h3>
                                                </label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", maxlength = "300", placeholder = "活動地點", aria_label = "活動地點" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="StartDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動開始時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "請選擇開始時間" })

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="EndDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動結束時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "請選擇結束時間" })

                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="ApplyStartDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動報名開始時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.ApplyStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "請選擇開始時間" })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="ApplyEndDate" class="input-title"><h3><span class="text-danger mx-2">*</span>活動報名結束時間</h3></label>
                                                <div class="input--horizontal input-group-lg">
                                                    @Html.TextBoxFor(m => m.ApplyEndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "請選擇結束時間" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <label for="Contact" class="input-title"><h3><span class="text-danger mx-2">*</span>聯絡窗口</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", maxlength = "300", placeholder = "聯絡窗口", aria_label = "聯絡窗口" })
                                            </div>
                                        </div>



                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <label for="ContactPhone" class="input-title"><h3><span class="text-danger mx-2">*</span>窗口連絡電話</h3></label>
                                            <div class="input--horizontal input-group-lg">
                                                @Html.TextBoxFor(m => m.ContactPhone, new { @class = "form-control", maxlength = "300", placeholder = "窗口連絡電話", aria_label = "窗口連絡電話" })
                                                <small class="form-text text-muted">輸入電話格式範例如：02-22345678</small>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="PicFile" class="control-label">封面照片</label>

                                            @* 顯示舊照片縮圖 *@
                                            @if (!string.IsNullOrEmpty(Model.PicFile))
                                            {
                                                <div class="mb-2">
                                                    <img src="@Url.Content("~/Uploads/ActivityPics/" + Model.PicFile)"
                                                         alt="封面照片"
                                                         style="max-height:150px; border:1px solid #ccc; border-radius:4px;" />
                                                </div>
                                            }

                                            @* 上傳新照片 (取代 TextBoxFor) *@
                                            <input type="file" name="PicFile" id="PicFile"
                                                   class="form-control" accept="image/*" />

                                            @* 如果要保留舊值，可以放隱藏欄位 *@
                                            @Html.HiddenFor(m => m.PicFile)
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label for="Description" class="input-title"><h3><span class="text-danger mx-2">*</span>活動詳細說明</h3></label>
                                            <div class="form-group">
                                                <label for="Description" class="control-label"></label>
                                                <div class="editor-container__editor"><div class="editor1"></div></div>
                                                <input type="hidden" id="CKContent1" name="Content1" value="@Model.Description"/>
                                                @*@Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "Description", rows = "8" })*@

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center submit-btn">
                                    <button type="button" class="btn btn-main w-auto" onclick="CreateFun();" aria-label="儲存" id="submitBtn">儲存</button>
                                    <button type="button" class="btn btn-secondary backList" aria-label="返回" onclick="window.history.back()">返回</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
    </article>
</section>

@section Scripts {
    <!-- CKEditor -->
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/ckeditor5/ckeditor5.js"></script>
    <script type="module" src="~/Scripts/ckeditor5-builder-43.3.1/main.js"></script>

    <script>
        // 取得 CSRF Token
        function getAntiForgeryToken() {
            return $('input[name="__RequestVerificationToken"]').val();
        }

        $(document).ready(function () {
            // 初始化 CKEditor（假設編輯頁只有一個 editor）
            initializeCKEditor('editor1', $("#CKContent1").val());

            // 子分類載入
            function GetSubCategory(selectedVal) {
                const parentId = $("#MainCategory").val();
                const $subCategory = $("#SubCategory");

                if (!parentId) {
                    $subCategory.empty().append('<option value="">請先選擇活動類型</option>');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("GetSubCategories", "Activity")',
                    type: 'GET',
                    data: { ParentCatID: parentId },
                    dataType: 'json',
                    success: function (data) {
                        $subCategory.empty();
                        if (data.items && data.items.length > 0) {
                            $subCategory.append('<option value="">請選擇子類別</option>');
                            $.each(data.items, function (i, item) {
                                $subCategory.append($('<option>').val(item.Value).html(item.Text));
                            });
                            if (selectedVal) {
                                $subCategory.val(selectedVal); // ✅ 編輯時選中原本的子分類
                            }
                        } else {
                            $subCategory.append('<option value="">查無子類別</option>');
                        }
                    },
                    error: function () {
                        $subCategory.empty().append('<option value="">載入失敗</option>');
                    }
                });
            }

            // 大分類變更時觸發
            $("#MainCategory").on('change', function () {
                GetSubCategory();
            });

            // 頁面載入時帶入子分類（編輯用）
      /*      const oldSubCategory = $("#SubCategory").data("selected"); // 在 Razor 填 value*/
            GetSubCategory('@Model.SubCategory');

            // ✅ 編輯送出
            function EditFun() {
                const ActID = $('#ActID').val();
                const Category = $('#MainCategory').val();
                const SubCategory = $('#SubCategory').val();
                const Name = $('#Name').val();
                const Location = $('#Location').val();
                const StartDate = $('#StartDate').val();
                const EndDate = $('#EndDate').val();
                const ApplyStartDate = $('#ApplyStartDate').val();
                const ApplyEndDate = $('#ApplyEndDate').val();
                const Contact = $('#Contact').val();
                const ContactPhone = $('#ContactPhone').val();
                const PicFile = $('#PicFile').val();

                // 驗證必填欄位
                const fields = [
                    { selector: '#MainCategory', value: Category, message: '請選擇活動類型' },
                    { selector: '#SubCategory', value: SubCategory, message: '請選擇活動子類型' },
                    { selector: '#Name', value: Name, message: '請填寫活動名稱' },
                    { selector: '#Location', value: Location, message: '請填寫活動地點' },
                    { selector: '#StartDate', value: StartDate, message: '請填寫活動開始時間' },
                    { selector: '#EndDate', value: EndDate, message: '請填寫活動結束時間' },
                    { selector: '#ApplyStartDate', value: ApplyStartDate, message: '請填寫報名開始時間' },
                    { selector: '#ApplyEndDate', value: ApplyEndDate, message: '請填寫報名結束時間' },
                    { selector: '#Contact', value: Contact, message: '請填寫聯絡窗口' },
                    { selector: '#ContactPhone', value: ContactPhone, message: '請填寫窗口連絡電話' }
                ];

                for (let field of fields) {
                    if (!field.value) {
                        Swal.fire({ title: field.message, confirmButtonText: '確定' }).then(() => {
                            const $el = $(field.selector);
                            $('html, body').stop().animate({ scrollTop: $el.offset().top - 100 }, 300, () => {
                                $el.focus();
                            });
                        });
                        return;
                    }
                }

                // 禁用送出按鈕 + Loading
                $('#submitBtn').prop('disabled', true).addClass('btn-secondary');
                Swal.fire({
                    title: '處理中，請稍候...',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    didOpen: () => { Swal.showLoading(); }
                });

                // 準備 FormData
                const formData = new FormData();
                formData.append('ActID', ActID); // ✅ 編輯必須帶 ID
                formData.append('Category', Category);
                formData.append('SubCategory', SubCategory);
                formData.append('Name', Name);
                formData.append('Location', Location);
                formData.append('StartDate', StartDate);
                formData.append('EndDate', EndDate);
                formData.append('ApplyStartDate', ApplyStartDate);
                formData.append('ApplyEndDate', ApplyEndDate);
                formData.append('Contact', Contact);
                formData.append('ContactPhone', ContactPhone);

                // 如果重新上傳新圖片才帶入
                const fileInput = $("input[name='PicFile']")[0];
                const file = fileInput?.files?.[0];
                if (file) {
                    formData.append("PicFile", file);
                }

                // CKEditor 內容
                const editor1 = window.ckeditorInstances["editor1"];
                if (editor1) {
                    const editorData1 = editor1.getData();
                    $('#CKContent1').val(editorData1);
                    formData.append('Description', editorData1);

                }

                // CSRF Token
                formData.append('__RequestVerificationToken', getAntiForgeryToken());

                // AJAX 更新
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("EditActivity","Activity")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        Swal.close();
                        $('#submitBtn').prop('disabled', false).removeClass('btn-secondary');
                        if(response.message === "修改成功" && response.success === true) {
                            Swal.fire({
                                icon: 'success',
                                title: '修改成功',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "@Url.Action("ActivityList","Activity")";
                                }
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.close();
                        $('#submitBtn').prop('disabled', false).removeClass('btn-secondary');
                        console.log("錯誤狀態:", status);
                        console.log("錯誤訊息:", error);
                        console.log("伺服器回應:", xhr.responseText);
                        Swal.fire("發生錯誤：" + xhr.responseText);
                    }
                });
            }

            // 綁定送出事件
            $('#submitBtn').on('click', EditFun);
        });
        </script>
    }
