@model JoinGo.Models.ViewModels.QuestionVM


<div class="row justify-content-center mb-1">
    <div class="col-12">
        <div class="table-responsive-xl table-hover first-table text-left my-4">
            <table id="tabelhorizontal" class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="align-left gray-dark">發問者</th>
                        <td class="align-middle">@Model.Questioner</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">E-Mail</th>
                        <td class="align-middle">@Model.Email</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">問題</th>
                        <td class="align-middle">@Model.Question1</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">回應</th>
                        <td class="align-middle">@Model.Response</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">狀態</th>
                        <td class="align-middle">@Model.StatusName</td>
                    </tr>

                    <tr>
                        <th scope="col" class="align-left gray-dark">建檔人員</th>
                        <td class="align-middle">@Model.CreatorName</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">建檔時間</th>
                        <td class="align-middle">@Model.Created</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">建檔IP</th>
                        <td class="align-middle">@Model.CreatedIP</td>
                    </tr>
                    <tr>
                        <th scope="col" class="align-left gray-dark">更新人員</th>
                        <td class="align-middle">@Model.UpdatorName</td>
                    </tr>

                    <tr>
                        <th scope="col" class="align-left gray-dark">更新時間</th>
                        <td class="align-middle">@Model.Updated</td>
                    </tr>

                    <tr>
                        <th scope="col" class="align-left gray-dark">更新IP</th>
                        <td class="align-middle">@Model.UpdatedIP</td>
                    </tr>

                </thead>
            </table>
        </div>
    </div>
</div>
