@using JoinGo.Models.Author;

<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title | JoinGo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:description" content="">
    <meta property="og:title" content="JoinGo">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
<<<<<<< HEAD
    <link rel="shortcut icon" href="favicon.ico">
    @*<link rel="icon" href="~/image/logo.ico" type="image/x-icon" />*@
=======
    <link rel="shortcut icon" href="/image/favicon.ico">
>>>>>>> 0a1e66cbc5999496f03061783d1c53a01492dd32
    <link href="~/Scripts/ckeditor5-builder-43.3.1/ckeditor5/ckeditor5.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)

  


    <style>
        body {
            min-height: 100vh;
        }

        .sidebar {
            min-width: 220px;
            max-width: 220px;
            background-color: #f8f9fa;
        }

            .sidebar a {
                padding: 10px 20px;
                display: block;
                color: #333;
                text-decoration: none;
            }

                .sidebar a:hover {
                    background-color: #e2e6ea;
                }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="w-100 d-flex flex-column">
            <!-- LOGO -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
                <a class="d-block text-start" href="@(AuthorModel.Current.Role == "User" ? "/User/Index" : AuthorModel.Current.Role == "Admin" ? "/Admin/Index"  : "/Home/Index" )" >
                    <picture>
                        <source media="(min-width: 1200px)" srcset="~/image/logo.svg" alt="JoinGo">
                        <img src="~/image/logo.svg" style="width: 80%;" alt="JoinGo">
                    </picture>
                </a>

                <div class="LogoNavBar d-none d-lg-block">
                    @* 選單 >991顯示 *@
                </div>

                <!-- 頭像選單 -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarUser">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@(AuthorModel.Current.AvatarPhoto != null ? Url.Content("~/image/Files/AvatarPhoto/" + AuthorModel.Current.AvatarPhoto) : "/image/default-avatar.jpg")" class="rounded-circle me-2" style="height:40px;width:40px">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Personal","User")"><i class="fa fa-user"></i> 個人資料</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Account","User")"><i class="fa fa-cog"></i> 帳號管理</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("LogOut","Home")"<i class="fa fa-sign-out"></i> 登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="">
                <!-- 漢堡選單按鈕 -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="展開或折疊主選單">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>

                <div class="collapse navbar-collapse justify-content-lg-center align-items-center navbar-dark bg-main p-2" id="navbarNav">
                    @* 漢堡選單顯示選單 *@
                    <div class="navbar-nav align-items-center" id="navbarTogglerDemo02">
                        <!-- 選單 -->
                        <ul class="navbar-nav nav nav-tabs border-0" id="CagegoryTab" role="tablist">
                            <li class="nav-item mx-5">
                                <a class="nav-link active text-center" data-bs-toggle="tab" href="#section1" role="tab">
                                    <i class="fa fa-star mx-2" "></i> 精選
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#section2" role="tab">
                                    <i class="fa fa-book mx-2" " aria-hidden="true"></i> 學習成長
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#section3" role="tab">
                                    <i class="fa fa-paint-brush mx-2" " aria-hidden="true"></i> 藝文休閒
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#section4" role="tab">
                                    <i class="fa fa-plane mx-2" " aria-hidden="true"></i> 生活體驗
                                </a>
                            </li>

                            <li class="nav-item mx-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#section5" role="tab">
                                    <i class="fa fa-heartbeat mx-2" " aria-hidden="true"></i>健康樂活
                                </a>
                            </li>

                            <li class="nav-item mx-3">
                                <a class="nav-link" data-bs-toggle="tab" href="#section6" role="tab">
                                    <i class="fa fa-american-sign-language-interpreting mx-2" aria-hidden="true"></i>生活關懷
                                </a>
                            </li>
                        </ul>


                        <div class="nav-user text-right mt-4 d-lg-none">
                            <div class="LogoNavBar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>




    <hr class="m-0">
    <article class="main-content">
        @RenderBody()
    </article>



    <!-- Footer 區塊 -->
    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                    <h2 class="logo-text mb-4">
                        <span class="logo-join">Join</span>
                        <span class="logo-go">Go</span>
                    </h2>
                    <p>
                        我們是一個專為活動主辦方與參與者設計的 活動報名平台，致力於讓報名流程變得簡單、有系統、好管理。
                        無論是線上講座、實體市集、工作坊、演唱會，從活動建立、票券管理到參與者通知，我們都替你搞定！
                    </p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-4">快速連結</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">關於我們</a></li>
                        <li><a href="#" class="text-white text-decoration-none">服務項目</a></li>
                        <li><a href="@Url.Action("FAQ","Admin")" class="text-white text-decoration-none">常見問題</a></li>
                        <li><a href="@Url.Action("ContactUs","Admin")" class="text-white text-decoration-none">聯絡我們</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                    <h5 class="text-uppercase fw-bold mb-4">聯絡資訊</h5>
                    <p><i class="fa fa-home fa-fw me-2"></i> 台北市某某區某某路123號</p>
                    <p><i class="fa fa-envelope fa-fw me-2"></i> contact@example.com</p>
                    <p><i class="fa fa-phone fa-fw me-2"></i> 02-1234-5678</p>
                </div>

            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.05);">
            © 2025 JoinGo. 保留所有權利。
        </div>
    </footer>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/script")

    @RenderSection("scripts", required: false)

    <script>
        function SLogout()
        {
            Swal.fire({
                title: '是否確定登出?',
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '@Url.Action("LogOut", "Home")';
                }
            })
        }




        $(function () {
            //上方功能表下拉選單資料
            $.get('@Url.Action("MenuView", "Home")', {}, function (data) {
                $('.LogoNavBar').html(data);
            });

             if ('@TempData["LoginMsg"]' != '') {
                  Swal.fire({
                    title: '@TempData["LoginMsg"]',
                    confirmButtonText: "確定"
                });
            }
        })
    </script>

</body>
</html>





















