@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<JoinGo.Models.ViewModels.ApplyVM>

@{
    Layout = null;
}


<input type="hidden" id="page" value="@ViewBag.page" />



<table id="tabelhorizontal" class="table table-hover table-bordered mb-0">
    <thead>
        <tr>
            <th scope="col" class="align-middle gray-dark" width="5%">序號</th>
            <th scope="col" class="align-middle gray-dark" width="10%">活動類別</th>
            <th scope="col" class="align-middle gray-dark" width="10%">活動名稱</th>
            <th scope="col" class="align-middle gray-dark" width="12%">活動時間</th>
            <th scope="col" class="align-middle gray-dark" width="12%">活動報名期間</th>
            <th scope="col" class="align-middle gray-dark" width="20%">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int serialNumber = Model.PageNumber * Model.PageSize - Model.PageSize + 1;
            foreach (var m in Model)
            {
                <tr style="vertical-align: central;">
                    <td>@serialNumber</td>
                    <td class="font-weight-bold"> @m.CategoryName</td>
                    <td class="font-weight-bold text-left"> @m.Name </td>
                    <td class="text-center">@(m.StartDate.HasValue ? m.StartDate.Value.ToString("yyyy/MM/dd") : "" )  ~   @(m.EndDate.HasValue ? m.EndDate.Value.ToString("yyyy/MM/dd") : "" ) </td>
                    <td class="text-center"> @(m.ApplyStartDate.HasValue ? m.ApplyStartDate.Value.ToString("yyyy/MM/dd") : "" )  ~   @(m.ApplyEndDate.HasValue ? m.ApplyEndDate.Value.ToString("yyyy/MM/dd") : "" )</td>
                    <td>
                        <a href="@Url.Action("CreateApply", "Apply",new{page = TempData["page"]})" class="btn btn-main w-auto text-left" aria-label="報名"> <i class="fa fa-plus me-1" aria-hidden="true"></i>報名</a>
                           
                            <a href="javascript:void(0);" onclick="Details(@m.ActID);" class="btn btn-secondary">查看</a>

                            <a href="@Url.Action("EditApply", "Apply",new{ActID = m.ActID, page = @ViewBag.page, SearchArea = @ViewBag.SearchArea, SearchNineArea = @ViewBag.SearchNineArea, SearchSchoolType = @ViewBag.SearchSchoolType, SearchClassProp = @ViewBag.SearchClassProp, Search = @ViewBag.Search})" onclick="Edit(@m.ActID);" class="btn btn-main">編輯</a>

                            <a href="javascript:void(0);" onclick="DeleteFun(@m.ActID);" class="btn btn-danger">刪除</a>
                    </td>
                </tr>
                serialNumber++;
            }
        }
        else
        {
            <tr><td colspan="9" class="text-center">目前沒有任何資料</td></tr>
        }
    </tbody>
</table>



<div class="span8 text-center mt-4">
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("ActivityList", new { page = page }),
       new PagedListRenderOptions { LinkToPreviousPageFormat = "上一頁", LinkToNextPageFormat = "下一頁", PageCountAndCurrentLocationFormat = "第{0}頁/共{1}頁，總筆數:" + @ViewBag.TotalCount, DisplayPageCountAndCurrentLocation = true })
    </div>
</div>

<script>
    function focusAndScrollTo(selector, message) {
        Swal.fire({
            title: message,
            confirmButtonText: "確定"
        }).then(() => {
            const $target = $(selector);
            const $modalBody = $('.modal-body');
            const offsetTop = $target.offset().top - $modalBody.offset().top + $modalBody.scrollTop();

            $.when($modalBody.animate({ scrollTop: offsetTop - 50 }, 300)).done(() => {
                $target.trigger('focus');
            });
        });
    }




    function DeleteFun(ActID) {
            var page = $("#Page").val();
            Swal.fire({
                title: '是否確定刪除?',
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        data: {
                            ActID: ActID, __RequestVerificationToken: getAntiForgeryToken() // 包含 CSRF 令牌
                        },
                        datatype: 'json',
                        type: 'post',
                        url: "@Url.Action("DeleteActivity", "Activity")",
                        success: function (da) {
                            if (da == "刪除成功") {
                                Swal.fire(da);
                                GetData(page);
                            } else {
                                Swal.fire(da);
                            }
                        }
                    });
                }
            })
        }

</script>

